* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  font-size: 16px;
}

a {
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  width: 100%;
}

.header {
  background-color: #000;
  box-shadow: 0 -5px 20px #8257e6;
  color: #fff;
}

.header__content {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.header__logo__icon {
  fill: #8257e6;
}

.header__logo__text {
  fill: #fff;
}

.header__menu {
  display: flex;
}

.header__menu__item {
  display: block;
  font-weight: 500;
  margin-left: 3rem;
  text-transform: uppercase;
}

.header__menu__item:hover {
  color: #8257e6;
}

.main {
  color: #fff;
  text-align: center;
}

.main__content {
  padding-top: 4rem;
}

.main__logo {
  border-radius: 50%;
  border: 7px solid #8257e6;
  height: 12rem;
  margin-bottom: 1rem;
}

.main__title {
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.main__subtitle {
  color:#8257e6;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 auto 3rem;
}

.main__description {
  font-size: 1.25rem;
  line-height: 2;
  margin: auto;
  margin-bottom: 3rem;
}

.footer {
  margin-top: 12rem;
  box-shadow: 0 5px 15px #8257e6;
  text-align: center;
  width: 100%;
  padding: 1.25rem 0;
}

.social__item {
  display: inline-block;
}
.social__icon {
  height: 2.5rem;
  fill: #8257e6;
}

.social__icon:hover {
  opacity: 50%;
}

.social li:nth-child(2) {
  margin: 0 3rem;
}

.content__title {
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.cards {
  margin-top: 2rem;
  max-width: 1000%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
}

.card__image {
  width: 100%;
}

.card__description {
  padding: 2rem;
}

.card__title {
  margin-bottom: 1rem;
}

.card__text {
  font-weight: 400;
  line-height: 1.5;
}

.card__text strong {
  color: #8257e6;
  font-weight: 900;
}

.card__text span {
  font-size: .75rem;
  font-weight: 300;
  text-transform: uppercase;
}

.modal {
  background-color: #000;
  bottom: 50%;
  height: 50vh;
  left: 25%;
  margin: auto;
  opacity: 0;
  position: fixed;
  right: 25%;
  top: 50%;
  visibility: hidden;
  width: 50vw;
}

.modal--active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.modal--max {
  bottom: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.modal__icons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.modal__icons span {
  background-color: #8257e6;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  padding: .5rem;
}

.modal__icons span:hover {
  opacity: .6;
}

.modal__container {
  height: 80%;
  margin: 7.5% auto;
  width: 95%;
}

.modal__container iframe {
  height: 100%;
  width: 100%;
}