{% extends "layout.njk" %}


{% block head %}

<title>Rocketseat - { program.id }</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}    

<section class="program">
    <iframe class="program__content" src="https://www.rocketseat.com.br/{{program.id}}" frameborder="0"></iframe>
</section>

<script src="/script.js"></script>

{% endblock %}