{% extends "layout.njk" %}


{% block head %}

<title>Rocketseat - Página não encontrada</title>

{% endblock %}


{% block content %}

<div class="container main__content">
  <img class="main__logo" src="/images/rocketseat-logo.png" alt="Logo da Rocketseat">
  <h1 class="main__title">OPS! Alguma coisa deu errado!</h1>
  <h2 class="main__subtitle">Desculpa, mas a página que você procura não pode ser encontrada.</h2>
</div>

{% endblock %}